html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	color: #5D5D5D;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	line-height: 1;
	margin: 0;
	padding: 0;
}

a, a:link, a:visited, a:hover a:active {
	color: #348979;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

header {
	padding: 16px;
	text-align: center;
}

header a, header a:link, header a:visited, header a:hover header a:active {
	color: #5D5D5D;
	text-decoration: none;
}

h1 {
	margin-top: 0;
}

h3 {
	margin: 0;
	padding: 0;
}

.main-nav {
	font-size: 2.4rem;
	line-height: 70px;
}

.main-nav-list {
	margin: 0;
	padding: 0;
	text-align: center;
}

.main-nav-item {
	display: inline-block;
	margin: 0 16px;
	padding: 0;
}

.main-nav-link.active {
	border-bottom: solid 3px #348979;
}

.main-nav-link:hover:not(.active) {
	color: #212121;
	border-bottom: solid 3px #CCCCCC;
}

section {
	border-bottom: solid 1px #CCCCCC;
	margin-bottom: 16px;
	padding: 16px;
}

h1 {
	font-size: 3rem;
}

p {
	font-size: 1.8rem;
	line-height: 1.4;
}

footer {
	text-align: center;
}

.logo-sponsor {
	display: block;
	margin: 16px auto 64px;
}

@media screen and (min-width: 800px) {
		header {
			text-align: left;
		}


		header::after {
			clear: both;
		}

		.main-nav {
			float: right;
		}

		section {
			margin: 0 auto 16px;
			max-width: 50em;
			width: 80%;
		}

		.logo-sponsor {
			display: inline;
			margin: 24px;
			vertical-align: middle;
		}
}